In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
new = pd.read_csv('Cleaned_data.csv')

In [19]:
new.drop('Unnamed: 0',
  axis= 1, inplace=True)

In [21]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    int64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Embarked  891 non-null    int64
dtypes: int64(7)
memory usage: 48.9 KB

In [20]:
new.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.352413,29.135802,0.317621,0.239057,0.361392
std,0.486592,0.836071,0.477990,13.581240,0.465813,0.426747,0.635673
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,21.000000,0.000000,0.000000,0.000000
50%,0.000000,3.000000,0.000000,26.000000,0.000000,0.000000,0.000000
75%,1.000000,3.000000,1.000000,36.000000,1.000000,0.000000,1.000000
max,1.000000,3.000000,1.000000,80.000000,1.000000,1.000000,2.000000

In [5]:
new.head()

   Unnamed: 0  Survived  Pclass  Sex  Age  SibSp  Parch  Embarked
0           0         0       3    0   22      1      0         0
1           1         1       1    1   38      1      0         1
2           2         1       3    1   26      0      0         0
3           3         1       1    1   35      1      0         0
4           4         0       3    0   35      0      0         0

## Train & Test Split

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(new.drop('Survived',axis=1), 
                                                    new['Survived'], test_size=0.30, 
                                                    random_state=101)

# Model Building

## RandomForest Classifier

In [23]:
#feature Scaling  
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
X_train= st_x.fit_transform(X_train)    
X_test= st_x.transform(X_test)

In [24]:
#Fitting Decision Tree classifier to the training set  
from sklearn.ensemble import RandomForestClassifier  
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
classifier= RandomForestClassifier(criterion='entropy') 
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy')

In [25]:
#Predicting the test set result  
y_pred= classifier.predict(X_test)

In [26]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)

In [27]:
cm

array([[133,  21],
       [ 34,  80]], dtype=int64)

In [28]:
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.7947761194029851

In [29]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.86      0.83       154
           1       0.79      0.70      0.74       114

    accuracy                           0.79       268
   macro avg       0.79      0.78      0.79       268
weighted avg       0.79      0.79      0.79       268

# Creating Pickle File

In [30]:
import pickle

In [31]:
pickle.dump(classifier, open('model.pkl','wb'))